Repository department-of-veterans-affairs/vagov-content, pull requests merged in 2019-05, with the labels that each got.

#417 Remove all instances of aria-multiselectable=true.
  pages/burials-memorials/dependency-indemnity-compensation.md
  pages/disability/how-to-file-claim/evidence-needed.md
  pages/disability/how-to-file-claim/when-to-file.md
  pages/disability/how-to-file-claim/when-to-file/pre-discharge-claim.md
  pages/disability/va-claim-exam.md
  pages/housing-assistance/home-loans/eligibility.md
  pages/housing-assistance/home-loans/how-to-apply.md
  pages/life-insurance/options-eligibility/fsgli.md
  pages/life-insurance/options-eligibility/vgli.md
  pages/pension/how-to-apply/fully-developed-claim.md
  pages/sign-in-faq.md
Labels: CMS content model anomaly, Disability, Pension, Records

#419 Replace unique ul.vertical-list-group with ol.process.
  pages/disability/file-an-appeal.md
Labels: CMS content model anomaly, Disability

#422 Add lastupdate frontmatter for records.
  pages/records/download-va-letters.md
  pages/records/get-military-service-records.md
  pages/records/get-veteran-id-cards.md
  pages/records/get-veteran-id-cards/vic.md
  pages/records/index.md
Labels: CMS content model anomaly, Records

#418 Remove rogue va-h-ruled--stars.
  pages/decision-reviews/faq.md
Labels: CMS content model anomaly, Decision Reviews

#358 Records and Root Directory SEO Optimization
  pages/change-direct-deposit-and-contact-information.md
  pages/claim-or-appeal-status.md
  pages/discharge-upgrade-instructions/index.md
  pages/records/apply-for-home-loan.md
  pages/records/archives.md
  pages/records/change-address.md
  pages/records/download-va-letters.md
  pages/records/get-medical-records.md
  pages/records/get-military-service-records.md
  pages/records/get-veteran-id-cards.md
  pages/records/get-veteran-id-cards/vic.md
  pages/records/index.md
  pages/va-payment-history.md
Labels: CMS content model anomaly, Records

#346 Pensions SEO Optimization
  pages/pension/aid-attendance-housebound.md
  pages/pension/application/527EZ.md
  pages/pension/change-address.md
  pages/pension/change-direct-deposit-and-contact-info.md
  pages/pension/check-claim-or-appeal-status.md
  pages/pension/eligibility.md
  pages/pension/how-to-apply.md
  pages/pension/how-to-apply/fully-developed-claim.md
  pages/pension/index.md
  pages/pension/pension-management-centers.md
  pages/pension/protected-pension-rates.md
  pages/pension/survivors-pension-rates.md
  pages/pension/survivors-pension.md
  pages/pension/va-claim-exam.md
  pages/pension/veterans-pension-rates.md
  pages/pension/view-va-payment-history.md
Labels: CMS content model anomaly, Pension

#420 Remove two column layout for state listings on Pension Management page.
  pages/pension/pension-management-centers.md
Labels: CMS content model anomaly, Pension

#423 Make Education's "On this page" an <h3>, like other hubs.
  pages/education/index.md
Labels: CMS content model anomaly, Education

#431 Remove empty 'relatedlinks:' frontmatter on Get Veteran ID cards page.
  pages/records/get-veteran-id-cards.md
Labels: CMS content model anomaly, Records

#426 added 1995-STEM form content
  pages/education/apply-for-education-benefits/application/1995-STEM.md
Labels: BAH

#432 content-wip-Implement style guide decisions for PDF and video links
  pages/change-direct-deposit-and-contact-information.md
  pages/education/about-gi-bill-benefits/how-to-use-benefits/on-the-job-training-apprenticeships.md
  pages/education/about-gi-bill-benefits/how-to-use-benefits/test-fees.md
  pages/education/about-gi-bill-benefits/how-to-use-benefits/tuition-assistance-top-up.md
  pages/education/about-gi-bill-benefits/how-to-use-benefits/tutor-assistance.md
  pages/education/about-gi-bill-benefits/how-to-use-benefits/work-study.md
  pages/education/about-gi-bill-benefits/montgomery-active-duty/buy-up.md
  pages/education/about-gi-bill-benefits/montgomery-selected-reserve.md
  pages/education/about-gi-bill-benefits/post-9-11.md
  pages/education/change-gi-bill-benefits.md
  pages/education/choosing-a-school.md
  pages/education/other-va-education-benefits/national-call-to-service-program.md
  pages/education/other-va-education-benefits/veap.md
  pages/education/survivor-dependent-benefits/fry-scholarship.md
  pages/education/transfer-post-9-11-gi-bill-benefits.md
  pages/life-insurance/file-appeal-for-tsgli.md
  pages/life-insurance/options-eligibility/fsgli.md
  pages/life-insurance/options-eligibility/s-dvi.md
  pages/life-insurance/options-eligibility/sgli.md
  pages/life-insurance/options-eligibility/tsgli.md
  pages/life-insurance/options-eligibility/vgli.md
  pages/life-insurance/options-eligibility/vmli.md
  pages/life-insurance/totally-disabled-or-terminally-ill.md
  pages/pension/aid-attendance-housebound.md
  pages/pension/how-to-apply.md
  pages/pension/survivors-pension.md
  pages/records/get-military-service-records.md
  pages/records/get-veteran-id-cards.md
Labels: Pension
